Cython
beautifulsoup4
bokeh
colorcet
datashader
feedparser
holoviews
ipython
jupyter
jupyterlab
matplotlib
mayavi
missingno
notebook
numpy
pandas
pandas_datareader
plotnine
qutip
requests
seaborn
sqlalchemy
tables
xlrd
xlwt
